{% extends "seer_app/base.html" %}
{{ block.super }}

{% block content %}
{% comment %} Testing start {% endcomment %}

<form method="POST" action="">{% csrf_token %}
Date From: <input type="date"  name="startDate" value="{{ request.POST.startDate }}">
Date To: <input type="date"  name="endDate" value="{{ request.POST.endDate }}">

</br></br>
<div class="control">
        <div class="select">
            <select name="field">
                <option disabled selected>Field</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="description">Description</option>
            </select>
        </div>
        <div class="select">
            <select name="operator">
                <option disabled selected>Operator</option>
                <option value="contain">contains</option>
                <option value="notcontain">doesn't contain</option>
                <option value="beginswith">begins with</option>
                <option value="endswith">ends with</option>
                <option value="equals">is equal to</option>
            </select>
        </div>
        <input type="text" name="advkeyword" type="text" placeholder="value" style="height: 40px;">
</div>

<input type="submit" name="submit" value="Search"/>

</br></br>

</form>

<h1 style="font-size:20px;">Search Results between "{{ request.POST.startDate}}  and  {{request.POST.endDate}} "</h1>
<h1 style="font-size:20px;">Where "{{ request.POST.field}}" {{ request.POST.operator}} "{{ request.POST.advkeyword}}"</h1>

<div class="block">
    <table class="table">
        <thead>
            <tr>
                <th>Title: </th>
                <th>Author: </th>
                <th>Publication Date: </th>
                <th>Journal: </th>
                <th>Volume(Issue): </th>
                <th>Description: </th>
            </tr>
            </thead>
            {% for final_result in final_result %}
            {% if final_result.Status == "ANA" %}
            <tbody>
                <tr>
                    <td>{{final_result.Title}}</td>
                    <td>{{final_result.Author}}</td>
                    <td>{{final_result.Publication_date}}</td>
                    <td>{{final_result.Journal}}</td>
                    <td>{{final_result.Volume}}({{final_result.Issue}})</td>
                    <td>{{final_result.Article_Description}}</td>
                </tr>
                <br/><br/>
            </tbody>
            {% endif %}
            {% endfor %}
    </table>
</div>

{% comment %} Test Finish {% endcomment %}
{% endblock content %}
