{% extends "seer_app/base.html" %}
{{ block.super }}


{% block content %}
    <br/> <br/>
        <div class="columns">
            <div class="column is-three-quarters is-bold">
                <h2>Popular Articles!</h2>
                <br/><br/>

                <div class="container">
                <!--List of all popular articles!-->
                <!--Luis 20/05/2020 display saved articles by article ID (i think)-->
               {% for a in articles %}
                    <!--
                <div class="block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title: </th>
                                <th>Author: </th>
                                <th>Publication Date: </th>
                                <th>Journal: </th>
                                <th>Volume(Issue): </th>
                                <th>Description: </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{a.Title}}</td>
                                <td>{{a.Author}}</td>
                                <td>{{a.Publication_Date}}</td>
                                <td>{{a.Journal}}</td>
                                <td>{{a.Volume}}</td>
                                <td>{{a.Description}}</td>
                            </tr>
                    </table>
                </div>
            -->

                Title: {{ a.Title }} <br/>
                Author: {{ a.Author }} <br/>
                Publication Date: {{ a.Publication_date }} <br/>
                Journal: {{ a.Journal }} <br/>
                Volume(Issue): {{ a.Volume }}({{a.Issue}}) <br/>
                Discription: {{a.Article_Description}}<br/>
                <br/><br/>
                {% endfor %}
                
            </div>
        </div>
            <div class="column">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter keywords">
                    </div>
                    <div class="control">
                        <a class="button is-info">Search</a>
                    </div>
                </div>
            <!--search form-->
          </div>

{% endblock content %}

